body {
  background: #f9f9f9;
  font-family: sans-serif;
}

h1 {
  position: fixed;
  top : 1em;
/*  animation-name : typochanges;
  animation-duration: 6s;
  animation-iteration-count: infinite;
*/}

p {
  margin-bottom: 2em;
}

/* ### ___________________________________________________________ ### */
/* ### Download Chromium Beta https://www.google.com/chrome/beta/  ### */
/* ###  with the #experimental-web-platform-features flag enabled  ### */
/* ### through chrome://flags.                                     ### */
/* ### ___________________________________________________________ ### */

/* ### EXAMPLE 01 The progress bar ### */
/* ### FOUR STEPS ### */
/*
 1 - Define element
 2 - Define Keyframes
 3 - Define a ScrollTimeline
 4 - Attach the Animation + set the ScrollTimeline as the driver for the Animation
 */

/* (1) Define element */
#progress {
	position: fixed;
	z-index: 10;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 2vh;
	transform-origin: 0 50%;
	transform: scaleX(0);
	background: red;
}

/* (2) Define Keyframes */
@keyframes adjust-progressbar {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

/* (3) Define a ScrollTimeline */
@scroll-timeline progressbar-timeline {
    time-range: 1s;
}

/* (4) Attach the Animation + set the ScrollTimeline as the driver for the Animation */
#progress {
    animation: 1s linear forwards adjust-progressbar;
    animation-timeline: progressbar-timeline; /* 👈 THIS! */
}



.chapter {
  max-width: 48em;
  margin: auto;
}

/* (1) Define Keyframes */

/*--> See animations.css */

/* (2) Define a ScrollTimeline */
@scroll-timeline heading-timeline {
    time-range: 1s;
}

/* (3) Attach the Animation + set the ScrollTimeline as the driver for the Animation */
h1 {
    animation: 1s linear forwards adjust-heading-size;
    animation-timeline: progressbar-timeline; /* 👈 THIS! */
}
